<header>
  <a href="/"><img src="/assets/logo.png" alt="Logo Foodly" /></a>

  <nav>
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
    <a href="/chefs">Chefs</a>
  </nav>
</header>