<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Foodfy</title>
  <link rel="stylesheet" href="/styles/chefs.css">
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/admin.css">
</head>
<body>
  <div class="container">
    <header>
      <div>
        <a href="/admin/recipes">
          <img src="/assets/logo2.png" />
        </a>

        <nav class="links-admin">
          <a href="/admin/recipes">Receitas</a>
          <a class="active" href="/admin/chefs">Chefs</a>
        </nav>
      </div>
    </header>

    <section>
      {% block content %}
      {% endblock %}
    </section>
  </div>

  <script src="/scripts/admin.js"></script>
  <script src="/scripts/scripts.js"></script>
</body>
</html>