{% extends 'layout.njk' %}
{% block head %}
    <title>Sobre - Foodfy</title>
{% endblock %}
{% block menu %}
{% include './partials/menu.njk' %}
{% endblock %}
{% block content %}
  <section class="about-infos">
    <article>
      <h3>Sobre o Foodfy</h3>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cum
        inventore omnis exercitationem veniam eum, autem dolorem animi
        deserunt, dicta veritatis adipisci, reiciendis et odio rem cumque
        impedit repellat ratione.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cum
        inventore omnis exercitationem veniam eum, autem dolorem animi
        deserunt, dicta veritatis adipisci, reiciendis et odio rem cumque
        impedit repellat ratione.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cum
        inventore omnis exercitationem veniam eum, autem dolorem animi
        deserunt, dicta veritatis adipisci, reiciendis et odio rem cumque
        impedit repellat ratione.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        eius quibusdam minus voluptates numquam recusandae saepe similique
        minima. Doloribus molestiae accusantium, tempore facilis obcaecati
        beatae voluptates libero est dignissimos perspiciatis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cum
        inventore omnis exercitationem veniam eum, autem dolorem animi
        deserunt, dicta veritatis adipisci, reiciendis et odio rem cumque
        impedit repellat ratione.
      </p>
    </article>
    <article>
      <h3>Como tudo começou...</h3>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cum
        inventore omnis exercitationem veniam eum, autem dolorem animi
        deserunt, dicta veritatis adipisci, reiciendis et odio rem cumque
        impedit repellat ratione.
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        eius quibusdam minus voluptates numquam recusandae saepe similique
        minima. Doloribus molestiae accusantium, tempore facilis obcaecati
        beatae voluptates libero est dignissimos perspiciatis.
      </p>
    </article>
    <article>
      <h3>Nossas receitas</h3>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        eius quibusdam minus voluptates numquam recusandae saepe similique
        minima. Doloribus molestiae accusantium, tempore facilis obcaecati
        beatae voluptates libero est dignissimos perspiciatis.
      </p>
    </article>
  </section>
</div>
{% endblock %}
