<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/chefs.css">
    <link rel="stylesheet" href="/styles/admin.css">

    {% block head %}
      <title>Home - Foodfy</title>
    {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      {% block menu %}
        <header>
          <a href="/"><img src="/assets/logo.png" alt="Logo Foodly" /></a>

          <nav>
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
            <a href="/chefs">Chefs</a>
          </nav>

          <form class="form-filter" action="/buscar" method="get">
            <input 
              type="text" 
              name="filter" 
              placeholder="Buscar uma receita"
              value="{{filter}}"
            >
            <button class="button-filter" type="submit">Buscar</button>
          </form>
        </header>
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>

     <footer>
      <p>Todos os direitos reservados, receitas Foodly.</p>
    </footer>

  </body>
</html>
