{% extends 'layout.njk' %}

{% block head %}
    <title>{{recipe.title}} - Foodfy</title>
{% endblock %}

{% block content %}
 <main class="single-recipe">
  <div class="recipe-head">
    <img src="{{recipe.image}}" alt="{{recipe.title}}" />
    <h3>{{recipe.title}}</h3>
    <span>por {{recipe.author}}</span>
  </div>

  <div class="recipe-body">
    <section>
      <div class="wrapper-title-button">
        <h4>Ingredientes</h4>
        <button class="button-ingredient">Esconder</button>
      </div>

      <div class="content">
        <ul>
          {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}}</li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <section>
      <div class="wrapper-title-button">
        <h4>Modo de preparo</h4>
        <button class="button-prepare">Esconder</button>
      </div>

      <div class="content">
        <ol>
          {% for item in recipe.preparation %}
            <li>{{item}}</li>
          {% endfor %}
        </ol>
      </div>
    </section>
    <section>
      <div class="wrapper-title-button">
        <h4>Ingredientes</h4>
        <button class="button-information">Esconder</button>
      </div>
      <div class="content">
        <p >{{recipe.information}}</p>
      </div>
    </section>
  </div>
</main>

<script src="/scripts/scripts.js"></script>

{% endblock %}