{% extends 'layout.njk' %}

{% block head %}
    <title>{{recipe.title}} - Foodfy</title>
{% endblock %}

{% block content %}
 <main class="content-cards" style="height: 75vh; margin-top: 50px">
    {% for recipe in recipes %}
      <article class="card-content">
        <img src="{{recipe.image}}" alt="{{recipe.title}}">

        <div class="card-content-info">
          <h2 style="margin-bottom: 0px">{{recipe.title}}</h2>
          <span>por {{recipe.chef}}</span>

          <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
        </div>
      </article> 
    {% endfor %}
  </main>

<script src="/scripts/scripts.js"></script>

{% endblock %}