{% extends './layout.njk' %}

{% block content %}
<h1 class="title-filter">Buscando por "{{filter}}"</h1>
<main class="recipes content-filter">
  {% for recipe in recipes %}
    <div class="card" id="{{recipe.id}}">
      <img src="{{recipe.image}}" alt="{{recipe.title}}" />
      <h3>{{recipe.title}}</h3>
      <span>por {{recipe.name}}</span>
    </div>
  {% endfor %}
</main>
{% endblock %}